.game-board {
  width: min-content;

  &.perspective-yin {
    transform: translate(50px, -150px) perspective(18cm) rotateX(55deg) rotate(-90deg);
  }
  &.perspective-yang {
    transform: translate(50px, -150px) perspective(18cm) rotateX(55deg) rotate(90deg);
  }

  .cells {
    position: relative;
    display: block;
    box-sizing: content-box;
    border: 9px solid transparent;
    border-radius: 5px;
    background: darken($phoenix-red, 10);

    .cell {
      position: absolute;
      width: 1em;
      height: 1em;
      border-radius: 2px;

      &.yin {
        background: black;
      }
      &.yang {
        background: white;
      }
    }
  }
}
