<div phx-window-keydown="keydown" phx-throttle="50"></div>
<div phx-window-keyup="keyup" phx-window-blur="keyup"></div>

<p>
  Present users:<br />
  <%= for {player_id, %{ metas: metas }} <- @presences do %>
  <b><%= player_id %></b> (metas: <%= inspect metas %>)<br />
  <% end %>
</p>

<div>
  <div>Pressed keys: <%= inspect @keypress %></div>
  <div>my_game_id: <%= @my_game_id %></div>
  <div>my_side: <%= @my_side %></div>
</div>

<hr />

<div>
  <p><%= @message %></p>
  <%= case @player_status do %>

  <% :lobby -> %>
  <p>Welcome! This is the lobby.</p>
  <button phx-click="request_opponent">Join a random game</button>
  <button phx-click="start_solo_game">Play solo</button>

  <% :waiting_for_opponent -> %>
  <p>Waiting for opponent...</p>
  <button phx-click="cancel_opponent_request">Stop</button>

  <% :playing -> %>
  <p>Playing!</p>
  <%= live_component ZweitrisWeb.GameBoardLive, id: @my_game_id,
    board: @my_game_status.board,
    yin_floater: @my_game_status.yin.floater,
    yang_floater: @my_game_status.yang.floater,
    perspective: @my_side
  %>
  <p style="font-family: monospace;">
    <%= if @my_side == :both do %>
    <span style="white-space: pre-line; display: inline-block; margin-right: 3em;">
      Player left:
      E: ↑ up
      F: ↓ down
      R: ⇉ drop
      D: ↺ rotate
    </span>
    <span style="white-space: pre-line; display: inline-block;">
      Player right:
      I: ↑ up
      H: ↓ down
      U: ⇇ drop
      J: ↺ rotate
    </span>
    <% else %>
    <span style="white-space: pre-line; display: inline-block;">
      A: ← left
      D: → right
      W: ⇈ drop
      S: ↺ rotate
    </span>
    <% end %>
    <br />
    P: Pause
  </p>

  <p></p>
  <pre style="white-space: pre-line;"><%= inspect @my_game_status %></pre>

  <p></p>
  <button phx-click="quit_game">Quit Game</button>

  <% :game_over -> %>
  <p>Game Over. <%= render_winner(@my_game_status.status, @my_side) %></p>
  <button phx-click="back_to_lobby">Back to the lobby</button>
  <button phx-click="request_opponent">Find a new game</button>
  <button phx-click="start_solo_game">Play solo</button>

  <% end %>
</div>
